/* start main rulez */

body {
    height: 4000px;
}

.container {
    width: 1170px;
    margin: auto
}
.clearfix{
    clear: both;
}

.header .slider {
    background-image: url('../images/Home-Page-1-1170x600.png');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;  
    height: 600px
}
.header .slider .intro {
    padding-top: 200px;
    text-align: center;
    color:#fff;

}
.header .slider .intro h2{
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 5px 0;
}
.header .slider .intro button {
    background: none; 
    margin-top:30px;
    font-size: 20px;  
    border: 2px solid #fff;
    font-weight: bold;
    padding: 10px 30px;
    color: #fff;
}

.header .navbar {
    background-color: #252F31;
    color: #FFF;
    overflow: hidden
}

.header .navbar h2 {
    float: left;
    text-transform: uppercase
}

.header .navbar h2 span {
    color: red;
}

.header .navbar ul {
    list-style: none;
    padding-left: 0px;
    float: right;
    overflow: hidden;
display: inline-block;
}

.header .navbar ul li {
    float: left;
    padding: 10px
}

.header .navbar ul li a{
    color: #fff;
    text-decoration: none;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover{
    color: #2ca260;

}
/* end main rulez */

/* start featuers */

.featuers {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 50px
}

.featuers .feat {
    float: left;
    width: 30.33333%;
    height: 150px;
}

.featuers .feat h2 {
    text-transform: uppercase;
    color: #566366;

}
.featuers .feat p {
    line-height: 1.7;
color: #919191;
}

/* end featuers */

/* start about me */

.about-me {
    background-color: #F2F2F2;
    overflow: hidden;
}

.about-me .img {
    float: left;
    width: 40%;
}

.about-me .img img {
    width: 100%;
}

.about-me .info {
    float: left;
    width: 60%;
}

.about-me .info h2 {
    text-transform: uppercase;
    margin: 40px 0 20px 40px;
    color: #566366;
}
.about-me .info > p{
    margin: 0 0 10px 40px;
}


.about-me .info > p:last-of-type{
    margin-top: 30px;
}
.about-me .info  p{
   
    line-height: 1.7;
    color: #747373;
}

.about-me .info .hobbies {
    overflow: hidden;
    margin: 15px 0 0 40px;
}

.about-me .info .hobbies .content {
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}
.about-me .info .hobbies .content h3{color: #555;}
.about-me .info .hobbies .content .icon {float: left;width: 12%;margin-right: 5%}
.about-me .info .hobbies .content .icon img{max-width: 100%;margin: 40px 10px 0 0;}
.about-me .info .hobbies .content .text{float: left; width: 83%;}
.about-me .info .hobbies .content .text p{margin-top: 0}
.about-me .info .hobbies .content .text h3{margin-bottom: 5px}
/* end about me */

/* start my skils */

.my-skills {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.my-skills .skills, .my-skills .progress {
    float: left;
    width: 50%;
    overflow: hidden;
}
.my-skills .skills h2 {
    text-transform: uppercase;
    margin: 25px 0 25px 40px;
    color: #555;
}
.my-skills .skills p{
    margin: 0 0 10px 40px;
    line-height: 1.6;
    color: #666;
}
.my-skills .skills p:last-of-type{
    margin-top: 25px;
}
.my-skills .skills button {
    text-transform: uppercase;
    background: none;
    border: 3px solid #2dcc70;
    padding: 10px 30px ;
    color: #2dcc70;
    margin: 20px 0 0 40px;
    font-weight: bold;
}
.my-skills .progress .tech{
    margin-left: 35px;
}
.my-skills .progress .tech h3{
text-transform: uppercase;
color: #555;
}
.my-skills .progress .tech div{
    background-color:#f2f2f1; 
    height:25px;
}
.my-skills .progress .tech div span{
    background-color: #2dcc70;
    height: 25px;
    text-align: right;
    line-height: 25px;
    display: block;
}

/* end my skils */
/* start resume */
.resume {
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}
.resume h2{
    text-transform: uppercase;
    color: #566366;
    padding-top: 20px;
}
.resume p{
    color: #919191;
    line-height: 1.7;
}
.resume button{
    text-transform: uppercase;
    background: none;
    border: 3px solid #2dcc70;
    padding: 10px 30px ;
    color: #2dcc70;
    font-weight: bold;

}
/* end resume */
/* start my education */
.my-education {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.my-education .main{
    width: 50%;
    padding-right: 5%;
    float: left;
}
.my-education .exp {
    width: 45%;
    float: left;
}
.my-education .main h2{
    text-transform: uppercase;
    color: #566366;
    padding-top: 20px;
}
.my-education .main p{
    color: #919191;
    line-height: 1.7;
}
.my-education .exp .certificate h3{
    margin-top:75px ;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #566366;
}
.my-education .exp .certificate span{display: block;margin-bottom: 10px}
.my-education .exp .certificate span:first-of-type{color: #999;}
.my-education .exp .certificate span:last-of-type{background-color:#2dcc70;color: #fff;display: inline-block;padding: 4px 10px; }
.my-education .exp .certificate hr{margin: 20px;background-color: #999;height: 1px;border: 0}
.my-education .exp .certificate p{
    color: #919191;
    line-height: 1.7;
}
/* end my education */
/* start test */
.test {
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.test p{
    color: #919191;
    line-height: 1.7;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
.test h3{color: #566366;margin-bottom: 30px;}
.test ul{
    list-style: none;
    padding-left:0 ;
    text-align: center;
    margin-top: 10px;
}
.test ul li{
    list-style-type: circle;
    width: 15px;
    height: 15px;
    border: 2px solid #2dcc70;
    display: inline-block;
    cursor: pointer;
}
.test ul li .active{
   background-color: #2dcc70; 
}
.test ul li :hover{
    background-color: #2dcc70;
}
/* end test */
/* start portfolio */
.portfolio {
    padding-top:50px ;
    padding-bottom:70px ;
    text-align: center;
}
.portfolio h2{
    text-transform: uppercase;
    color: #777;
}
.portfolio p{
    line-height: 1.7;
    color: #666;
    margin-bottom: 30PX;
}


.portfolio .our-works{
    overflow: hidden;
}
.portfolio .our-works > div{
    float: left;
    width: 33.33333%;
    margin-bottom: 10px
}
.portfolio .our-works > div img{
    width: 95%;
    margin: 10px;
    padding: 3PX;
    background-color: #FFF;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 12px #ccc;
}

/* end portfolio */
/* start content */
.contant{
    padding-top:50px ;
    padding-bottom:70px ;
    background-color: #252e30;
    overflow: hidden;
}
.contant .info{
    width: 50%;
    padding-right: 5%;
    float: left;
}
.contant .form{
    width: 45%;
    float: left;
    
}
.contant .info h2{
    text-transform: uppercase;
    color: #fff;

}
.contant .info p{
    color: #919191;
    line-height: 1.7;
}
.contant .info span{
    text-transform: uppercase;
    color: #fff;
}
.contant .form label{
    display: block;
    color: #c5c7c8;
    margin: 10px 0;
}
.contant .form input[type="text"]{
    background-color: #4b5456;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px
}
.contant .form textarea{
    background-color: #4b5456;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 300px;
    display: block;
}
.contant .form input[type="submit"]{
    background-color: #191f21;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
}
/* end content */
/* <!-- start footer --> */
.footer{
    background-color: #191f21;
    color: #4b5456;
    padding: 20px 0;
    text-align: center;
}
.footer span{
    display: block;
}
.footer ul{
    list-style: none;
    padding-left:0 ;
    text-align: center;
    margin-top: 10px;
}
.footer ul li{
    display: inline-block;
    margin: 10px;
}
/* <!-- end footer --> */
